SMTP_HOST=localhost
SMTP_PORT=25
SMTP_USER=airflow
SMTP_PASSWORD=airflow
SMTP_MAIL_FROM=airflow@example.com

POSTGRES_USER=retoethos
POSTGRES_PASSWORD=retoethos
POSTGRES_DB=retoethos

MB_DB_TYPE=postgres
MB_DB_DBNAME=retoethos
MB_DB_PORT=5432
MB_DB_PASS=retoethos
MB_DB_USER=retoethos
MB_DB_HOST=postgres